.inputcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.inputcontainer>label {
    display: block;
    text-align: left;
    z-index: 0;
    font-size: 1.2rem;
    line-height: 30px;
    position: absolute;
    color: gray;
    text-shadow: 0 0.5px rgba(167, 155, 155, 0.705);
    transition: all 0.4s ease-in-out;
}
.inputcontainer>.focus {
    margin-top: -20px !important;
    font-size: 0.9rem;
}
.inputcontainer>input {
    display: block;
    width: 100%;
    max-width: 500px;
    outline: none;
    border: none;
    background: transparent;
    line-height: 30px;
    font-size: 1.2rem;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.MatBtn {
    outline: none;
    border: none;
    width: 100%;
    display: block;
    max-width: 500px;
    padding: 12px;
    cursor: pointer;
    font-size: 1.1rem;
    background-color:rgb(2, 92, 119);
    transition: 0.5s;
}
.MatBtn:hover {
    background-color: hsl(194, 97%, 35%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:-webkit-autofill ~ label {
    margin-top: -20px !important;
    font-size: 0.9rem;
    z-index: 10;
}
input:auto-fill ~ label {
    margin-top: -20px !important;
    z-index: 10;
}
